<!DOCTYPE html>
<html>
  <title>Circuitation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    <!--main start -->
  <style type="text/css">
   .w3-sidebar h3
    {
     margin-left:150px;
     margin-top: 20px;
    }
    .imagebox{
     align-items: center;
     justify-content: center;
     margin-left: 400px;
    }
    .w3-container{
      overflow:auto;
    }
    .titlebar{
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color:lightgrey;
      width: 100%;
    }
    .navbar{
      width: 100%;
    }
    h1{
      font-weight: 700;
      letter-spacing: 8px;
    }
    @media (min-width: 1801px) and (max-width: 2100px){
      .imagebox{
          margin-left: 30%;
          overflow: auto;
        }
        h2{
          font-size: 35px;
          text-align: center;
        }
        h1{
          font-size: 50px;
        }
        h4{
          font-size: 35px;
        }

    }
    @media (min-width: 1500px) and (max-width: 1800px){
      .imagebox{
          margin-left: 25%;
          overflow: scroll;
        }
        h2{
          font-size: 30px;
        }
        h1{
          font-size: 45px;
        }
        h4{
          font-size: 33px;
        }

    }
    @media (min-width: 1200px) and (max-width: 1500px){
      .imagebox{
          margin-left: 25%;
          overflow: scroll;
        }
        h2{
          font-size: 20px;
        }
        h1{
          font-size: 35px;
        }
        h4{
          font-size: 25px;
        }

    }
    @media (min-width: 992px) and (max-width: 1199px){
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h2{
          font-size: 20px;
        }
        h1{
          font-size: 28px;
        }
        h4{
          font-size: 18px;
        }

    }
    @media (min-width: 768px) and (max-width: 991px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h2{
          font-size: 20px;
        }
        h1{
          font-size: 25px;
        }
        h2{
          font-size: 20px;
        }
        h4{
          font-size: 15px;
        }
    }
    @media (min-width: 575px) and (max-width: 767px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 25px;
        }
        h2{
          font-size: 18px;
        }
        h4{
          font-size: 14px;
        }
    }
    @media (min-width: 480px) and (max-width: 575px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 20px;
        }
        h2{
          font-size: 14px;
        }
        h4{
          font-size: 12px;
        }
        .nav-item a{
          text-align:center;
        }
      
    }
    @media (min-width: 340px) and (max-width: 480px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 15px;
        }
        h2{
          font-size: 8px;
        }
        h4{
          font-size: 10px;
        }
      }
    @media (min-width: 239px) and (max-width: 339px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 15px;
        }
        h2{
          font-size: 8px;
        }
        h4{
          font-size: 10px;
        }
      }
      @media (min-width: 180px) and (max-width: 238px) {
        .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 15px;
        }
        h2{
          font-size: 8px;
        }
        h4{
          font-size: 10px;
        }
      }
      @media (max-width: 179px) {
        .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 15px;
        }
        h2{
          font-size: 8px;
        }
        h4{
          font-size: 10px;
        }
      }
      
  </style>
  <body>
    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1>CIRCUITATION </h1>
      <h4>A Circuit Design Provider And Simulation Website</h4> 
    </div>
    <div>
      <nav class="navbar navbar-expand-sm aa bg-secondary navbar-dark ">
        <button class="w3-button text-white w3-xlarge" onclick="w3_open()">☰</button>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">BACK</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="#">LOGOUT</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block w3-border-right" style="display:none" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large">CLOSE &times;</button>
      <div class="list-group-item list-group-item-">
        <center><h2>USER INPUT</h2></center>
      </div>
      <form class="w3-container">
        <fieldset disabled>
          <div class="form-group">
            <label for="disabledTextInput">Vin</label>
            <input type="text" id="Vin" class="form-control"  value=" <%=c_Values.v_in%> volt" placeholder="Vin">
          </div>
          <fieldset disabled>
          <div class="form-group">
            <label for="disabledTextInput">Frequency</label>
            <input type="text" id="Frequency" class="form-control"  value=" <%=c_Values.freq%> Hz" placeholder="Frequency">
          </div>
          <fieldset disabled>
            <div class="form-group">
              <label for="disabledTextInput">VOut</label>
              <input type="text" id="VOut" class="form-control" value="<%=c_Values.vout%>" placeholder="VOut">
            </div>
      </form><br>

      <div class="w3-container list-group-item list-group-item- ">
        <center><h2>OUTPUT</h2></center>
      </div><br>

      <form class="">
        <fieldset disabled>
          <div class="form-group">
            <label for="disabledTextInput">Capacitor (C1)</label>
            <input type="text" id="Capacitor" class="form-control"  value=" <%=c_Values.c%>"  placeholder="Capacitor">
          </div>
          <fieldset disabled>
          <div class="form-group">
            <label for="disabledTextInput">Transformer</label>
            <input type="text" id="Transformer" class="form-control"  value=" <%=c_Values.v_a%> VA" placeholder="Transformer">
          </div>
      <fieldset disabled>
          <div class="form-group">
            <label for="disabledTextInput">Voltage Regulator</label>
            <input type="text" id="Voltage Regulator" class="form-control" value=" <%=c_Values.img_label%>" placeholder="Voltage Regulator">
          </div>
      </form>
   </div>

    <!-- Page Content -->
    <div class="">

     <div class="w3-container">
        <h1></h1>
     </div>

      <div class="imagebox">
          <br><br>

          <img src="/circuita/CP317.png" alt="Workplace" usemap="#workmap" width="1124" height="591">
        <map name="workmap">
              
          <area shape="rect" coords="304,38,351,108"  href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Diode 1: 1N5401">
          <area shape="rect" coords="408,39,454,109"  href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Diode 2: 1N5401">
          <area shape="rect" coords="304,233,348,305" href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Diode 3: 1N5401">
          <area shape="rect" coords="414,235,456,303" href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Diode 4: 1N5401">
          <area shape="rect" coords="776,10,821,78"   href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Diode 5: 1N5401">

          <area shape="rect" coords="882,413,942,492" href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Resistor 1: <%=c_Values.R2%> ohm">
          <area shape="rect" coords="883,221,941,301" href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Resistor 2: 120 ohm" >

          <area shape="rect" coords="611,322,643,400" href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Capacitor 1: <%=c_Values.c%> micro-farad">
          <area shape="rect" coords="677,323,712,401" href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Capacitor 2: 0.22 micro-farad">
          <area shape="rect" coords="783,408,820,483" href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Capacitor 3: 0.1 micro-farad">
          <area shape="rect" coords="961,325,998,400" href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Capacitor 4: 10 micro-farad">
            
          <area shape="rect" coords="87,264,165,377"  href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Transformer: <%=c_Values.v_a%> VA">

          <area shape="rect" coords="1,251,57,408"    href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Power Supply: <%=c_Values.v_in%> volt">

          <area shape="rect" coords="581,538,621,582" href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Earthing">
            
          <area shape="rect" coords="740,119,865,234" href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Voltage Regulator: <%=c_Values.img_label%>">
                
          <area shape="rect" coords="1079,324,1113,398" href="#" data-placement="top" data-toggle="popover" data-trigger="focus" title="Load: <%=c_Values.vout%> volt">
        </map>
      </div>
    </div>
    <script>
      function w3_open()
      {
        document.getElementById("mySidebar").style.width = "25%";
        document.getElementById("mySidebar").style.display = "block";
      }
 
       function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
       }
    </script>
 </body>
</html>