<!DOCTYPE html>
<html>
  <title>Circuitation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    <!--main start -->
  <style type="text/css">
    .w3-sidebar h3
    {
      margin-left:150px;
      margin-top: 20px;
    }
    .imagebox{
      align-items: center;
      justify-content: center;
      margin-left: 400px;
    }
    .w3-container{
      height: 100%;
    }
    .titlebar{
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color:lightgrey;
      width: 100%;
      overflow-x:auto;
    }
    .navbar{
      width: 100%;
    }

    @media (min-width: 992px) {

}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 575px) and (max-width: 767px) {
  h4 {font-size:px ;}
  h2{font-size: px; }
}
@media (min-width: 480px) and (max-width: 574px) {
  h4 {font-size:px ;}
  h2{font-size: px; }
}
@media (min-width: 340px) and (max-width: 479px) {
  h4 {font-size:px ;}
  h2{font-size: px; }
  h1{font-size: px;}
}
@media (min-width: 239px) and (max-width: 339px) {
  h4 {font-size:px ;}
  h2{font-size: px; }
  h1{font-size: px;}
}
@media (min-width: 180px) and (max-width: 238px) {
  h4 {font-size:px ;}
  h2{font-size: px; }
  h1{font-size: px;}
}
@media (max-width: 179px) {
  h4 {font-size:px ;}
  h2{font-size: px; }
  h1{font-size: px;}
}
    </style>
 <body>
    <div class="titlebar" style="margin-bottom:0">
          <h1>C I R C U I T A T I O N </h1>
          <h4>A Circuit Design Provider And Simulation Website</h4> 
    </div>
   <div>
      <nav class="navbar navbar-expand-sm aa bg-primary navbar-dark ">
        <button class="w3-button text-white w3-xlarge" onclick="w3_open()">☰</button>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">BACK</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="#">LOGOUT</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block w3-border-right" style="display:none" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large">CLOSE &times;</button>
      <div class="list-group-item list-group-item-">
        <center><h2>USER INPUT</h2></center>
      </div>

      <form class="w3-container">
        <fieldset disabled>
          <div class="form-group">
            <label for="disabledTextInput">Vin</label>
            <input type="text" id="Vin" class="form-control" value="<%=c_Values.v_in%> volt" placeholder="Vin">
          </div>
          <fieldset disabled>
          <div class="form-group">
            <label for="disabledTextInput">Frequency</label>
            <input type="text" id="Frequency" class="form-control" value = "<%=c_Values.freq%> Hz" placeholder="Frequency">
          </div>
      <fieldset disabled>
          <div class="form-group">
            <label for="disabledTextInput">VOut</label>
            <input type="text" id="VOut" class="form-control" value="<%=c_Values.vout%>" placeholder="VOut">
          </div>
      </form><br>

      <div class="list-group-item list-group-item-">
        <center><h2>OUTPUT</h2></center>
      </div><br>

      <form class="">
        <fieldset disabled>
          <div class="form-group">
            <label for="disabledTextInput">Capacitor (C1)</label>
            <input type="text" id="Capacitor" class="form-control" value=" <%=c_Values.c%>" placeholder="Capacitor">
          </div>
        <fieldset disabled>
          <div class="form-group">
            <label for="disabledTextInput">Transformer</label>
            <input type="text" id="Transformer" class="form-control" value=" <%=c_Values.v_a%> VA" placeholder="Transformer">
          </div>
      <fieldset disabled>
          <div class="form-group">
            <label for="disabledTextInput">Voltage Regulator</label>
            <input type="text" id="Voltage Regulator" class="form-control" value=" <%=c_Values.img_label%>" placeholder="Voltage Regulator">
          </div>
      </form>
   </div>

    <!-- Page Content -->
    <div class="">

      <div class="w3-container">
        <h1></h1>
      </div>

      <div class="imagebox">
        <br><br>

        <img src="/circuita/CP78.png" alt="Workplace" usemap="#workmap" width="1124" height="591">
        <map name="workmap">
        
          <area shape="rect" coords="230,31,305,117"  href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 1: 1N5401">
          <area shape="rect" coords="387,32,460,116"  href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 2: 1N5401">
          <area shape="rect" coords="230,204,306,286" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 3: 1N5401">
          <area shape="rect" coords="387,200,457,284" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 4: 1N5401">
          <area shape="rect" coords="725,27,808,114"  href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 5: 1N5401">

          <area shape="rect" coords="475,335,531,420" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 1: <%=c_Values.c%> micro-farad">
          <area shape="rect" coords="590,334,630,422" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 2: 0.22 micro-farad">
          <area shape="rect" coords="860,322,895,394" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 3: 0.1 micro-farad">
          <area shape="rect" coords="945,320,985,403" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 4: 10  micro-farad">
          
          <area shape="rect" coords="68,200,171,346" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus"title="Transformer: <%=c_Values.v_a%> VA"  >

          <area shape="rect" coords="3,198,60,344" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus"title="Power Supply: <%=c_Values.v_in%> volt"  >

          <area shape="rect" coords="675,517,717,583" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus"title="Earthing"  >

          <area shape="rect" coords="1045,265,1100,385" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus"title="Load: <%=c_Values.vout%> volt"  >

          <area shape="rect" coords="695,114,833,213" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus"title="Voltage Regulator: <%=c_Values.img_label%>"  >
       </map>
     </div>
   </div>
   <script>
     function w3_open()
     {
       document.getElementById("mySidebar").style.width = "25%";
       document.getElementById("mySidebar").style.display = "block";
     }

      function w3_close() {
       document.getElementById("mySidebar").style.display = "none";
      }
   </script>
 </body>
</html>