<!DOCTYPE html>
<html>
  <title>Circuitation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    <!--main start -->
  <style type="text/css">
  *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Josefin Sans', sans-serif;
    }
    .tophead{
        width: 100%;
        height: 65px;
        background: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brandlogo{
        color: #fff;
        font-size: 20px;
        margin-left:auto;
        display:flex;
      }
    .back{
      color: #fff;
      margin-right: 20px;
      font-size: medium;
    }
    .menulines{
        font-size: 30px;
        cursor: pointer;
        margin-left: 50px;
        color: #fff;
    }
    .mainpart{
        margin-top: 50px;
        margin-left: 50px;
    }
    .sidenav{
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background: lightgray;
        overflow-x: hidden;
        padding-top: 60px;
        transition: all 0.5s;
    }
    .sidenav a{
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        display: block;
        padding: 30px 0 30px 20px;
    }
    .sidenav a:hover{
        color: red;
    }
    .closebtn{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 40px!important;
        
    }
    input[type=text]{
        width: 100%;
        border: 1px solid #000;
        border-radius: 4px;
        margin: 8px 0;
        margin-left: 30px;
        width: 190px;
        outline: none;
        padding: 1px;
        box-sizing: border-box;
        color: #000;
        align-items: center;
        text-align: center;
    }
    label{
        color: #000;
        font-style:oblique ;
        font-weight: 650;
        padding-left: 20px;
    }
    .sidenav a{
        color: #000;
        align-items:center ;
        padding-left: 50px;
        font-weight: 700;
    }
  .imagebox{
     align-items: center;
     justify-content: center;
     margin-left: 400px;
    }
    .w3-container{
      height: 100%;
    }
    .titlebar{
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color:lightgrey;
      width: 100%;
      overflow-x:auto;
    }
    .navbar{
      width: 100%;
    }
    h1{
      font-weight: 700;
      letter-spacing: 8px;
    }
    
    @media (min-width: 1801px) and (max-width: 2100px){
      .imagebox{
          margin-left: 30%;
          overflow: auto;
        }
        h2{
          font-size: 35px;
          text-align: center;
        }
        h1{
          font-size: 50px;
        }
        h4{
          font-size: 35px;
        }

    }
    @media (min-width: 1500px) and (max-width: 1800px){
      .imagebox{
          margin-left: 25%;
          overflow: scroll;
        }
        h2{
          font-size: 30px;
        }
        h1{
          font-size: 45px;
        }
        h4{
          font-size: 33px;
        }

    }
    @media (min-width: 1200px) and (max-width: 1500px){
      .imagebox{
          margin-left: 25%;
          overflow: scroll;
        }
        h2{
          font-size: 20px;
        }
        h1{
          font-size: 35px;
        }
        h4{
          font-size: 25px;
        }

    }
    @media (min-width: 992px) and (max-width: 1199px){
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h2{
          font-size: 20px;
        }
        h1{
          font-size: 28px;
        }
        h4{
          font-size: 18px;
        }

    }
    @media (min-width: 768px) and (max-width: 991px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h2{
          font-size: 20px;
        }
        h1{
          font-size: 25px;
        }
        h2{
          font-size: 20px;
        }
        h4{
          font-size: 15px;
        }
    }
    @media (min-width: 575px) and (max-width: 767px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 25px;
        }
        h2{
          font-size: 18px;
        }
        h4{
          font-size: 14px;
        }
    }
    @media (min-width: 480px) and (max-width: 575px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 20px;
        }
        h2{
          font-size: 14px;
        }
        h4{
          font-size: 12px;
        }
        .nav-item a{
          text-align:center;
        }
      
    }
    @media (min-width: 340px) and (max-width: 480px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 15px;
        }
        h2{
          font-size: 8px;
        }
        h4{
          font-size: 10px;
        }
    }
    @media (min-width: 239px) and (max-width: 339px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
    }
    @media (min-width: 180px) and (max-width: 238px) {
        .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
    }
    @media (max-width: 179px) {
        .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
    }
  </style>
 <body>
    <div class="titlebar" style="margin-bottom:0">
      <h1> CIRCUITATION </h1>
      <h4>A Circuit Schema Provider</h4> 
    </div>

    <header>
      <div class="tophead">
        <div>
          <span class="menulines" onclick="openNav()">&#9776</span>
        </div>
          <div class="brandlogo">
            <a class="back" href="/page">BACK</a>
            <a class="back" href="/logout">LOGOUT</a>
          </div>
      </div>
    </header>
    <!-- Sidebar -->
    <div class="sidenav" id="mySidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a>USER INPUT</a>
      <form>
          <label>Vin</label><br>
          <input type="text" value="<%=c_Values.v_psv.v_in%> volt" placeholder="Vin" disabled>
          <label>Frequency</label>
          <input type="text" value="<%=c_Values.v_psv.freq%> Hz"  placeholder="Frequency" disabled>
          <label >Vout From</label>
          <input type="text" value="<%=c_Values.v_psv.vout%> volt" placeholder="Vout From" disabled>
          <label >Vout To</label>
          <input type="text" value="<%=c_Values.v_neg.vout%> volt" placeholder="Vout To" disabled>  
          <br>
          <a>POSITIVE OUTPUT</a>
          <label>Capacitor (C1)</label>
            <input type="text" value="<%=c_Values.v_psv.c%> &#181F"  placeholder="Capacitor 1" disabled>
          <label>Capacitor (C3)</label>
            <input type="text" value="10 &#181F"  placeholder="Capacitor 3" disabled>
          <label>Capacitor (C5)</label>
            <input type="text" value="10 &#181F"  placeholder="Capacitor 5" disabled>
          <label>Capacitor (C7)</label>
            <input type="text" value="10 &#181F"  placeholder="Capacitor 7" disabled>
          <label>Capacitor (C9)</label>
            <input type="text" value="10 &#181F"  placeholder="Capacitor 9" disabled>
          <label>Capacitor (C11)</label>
            <input type="text" value="10 &#181F"  placeholder="Capacitor 11" disabled>
          <label>Resistor (R1)</label>
            <input type="text" value="120 ohm" placeholder="Resistor 1" disabled>
          <label>Resistor (R2)</label>
            <input type="text" value="<%=c_Values.v_psv.R2%> ohm" placeholder="Resistor 2" disabled>
          <label>Transformer</label>
            <input type="text" value="<%=c_Values.v_psv.v_a%> VA" placeholder="Transformer" disabled>
          <label>Load</label>
            <input type="text" value="<%=c_Values.v_psv.vout%> volt"  placeholder="Load" disabled>
          <label>Voltage Regulator</label>
            <input type="text" value="LM317" placeholder="Voltage Regulator" disabled>

          <a>Negative OUTPUT</a>
          <label>Capacitor (C2)</label>
            <input type="text" value="<%=c_Values.v_neg.c%> &#181F"  placeholder="Capacitor 2" disabled>
          <label>Capacitor (C4)</label>
            <input type="text" value="10 &#181F"  placeholder="Capacitor 4" disabled>
          <label>Capacitor (C6)</label>
            <input type="text" value="10 &#181F"  placeholder="Capacitor 6" disabled>
          <label>Capacitor (C8)</label>
            <input type="text" value="10 &#181F"  placeholder="Capacitor 8" disabled>
          <label>Capacitor (C10)</label>
            <input type="text" value="10 &#181F"  placeholder="Capacitor 10" disabled>
          <label>Capacitor (C12)</label>
            <input type="text" value="10 &#181F"  placeholder="Capacitor 12" disabled>
          <label>Resistor (R3)</label>
          <input type="text" value="<%=c_Values.v_neg.R2%> ohm" placeholder="Resistor 3" disabled>
          <label>Resistor (R4)</label>
          <input type="text" value="120 ohm" placeholder="Resistor 4" disabled>
          <label>Transformer</label>
          <input type="text" value="<%=c_Values.v_psv.v_a%> VA" placeholder="Transformer" disabled>
          <label>Load</label>
            <input type="text" value="<%=c_Values.v_neg.vout%> volt"  placeholder="Load" disabled>
          <label>Voltage Regulator</label>
          <input type="text" value="LM337" placeholder="Voltage Regulator" disabled>
      </form>
    </div>

    <!-- Page Content -->
      <div class="imagebox">
        <br><br>

        <img src="/circuita/VCOMB.png" alt="Workplace" usemap="#workmap" width="1124" height="591">
        <map name="workmap">

          <area shape="rect" coords="185,58,250,135"    href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 1: 1N5401">
          <area shape="rect" coords="185,157,248,238"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 2: 1N5401">
          <area shape="rect" coords="180,345,241,423"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 3: 1N5401">
          <area shape="rect" coords="185,440,250,525"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 4: 1N5401">
          <area shape="rect" coords="595,0,650,64"      href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 5: 1N5401">
          <area shape="rect" coords="598,520,653,589"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Diode 6: 1N5401">

          <area shape="rect" coords="703,112,765,175"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Resistor 1: 120 ohm">
          <area shape="rect" coords="695,200,772,260"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Resistor 2: <%=c_Values.v_psv.R2%>" >
          <area shape="rect" coords="695,310,765,376"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Resistor 3: <%=c_Values.v_neg.R2%>" >
          <area shape="rect" coords="704,400,769,465"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Resistor 4: 120 ohm">

          <area shape="rect" coords="329,165,385,232"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 1: <%=c_Values.v_psv.c%> micro-farad">
          <area shape="rect" coords="328,357,388,426"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 2: <%=c_Values.v_neg.c%> micro-farad">
          <area shape="rect" coords="413,164,467,231"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 3: 10 micro-farad">
          <area shape="rect" coords="412,357,470,422"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 4: 0.1 micro-farad">
          <area shape="rect" coords="477,163,530,229"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 5: 10 micro-farad">
          <area shape="rect" coords="476,357,535,422"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 6: 10 micro-farad">
          <area shape="rect" coords="601,201,663,263"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 7: 10 micro-farad">
          <area shape="rect" coords="599,327,662,385"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 8: 10 micro-farad">
          <area shape="rect" coords="805,164,865,231"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 9: 10 micro-farad">
          <area shape="rect" coords="804,356,865,424"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 10: 10 micro-farad">
          <area shape="rect" coords="883,164,945,230"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 11: 10 micro-farad">
          <area shape="rect" coords="882,358,950,423"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Capacitor 12: 10 micro-farad">
          
          <area shape="rect" coords="68,182,138,370"    href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Transformer: <%=c_Values.v_psv.v_a%> VA">

          <area shape="rect" coords="0,230,56,355"      href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Power Supply: <%=c_Values.v_psv.v_in%> volt">

          <area shape="rect" coords="980,290,1025,366"  href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Earthing">

          <area shape="rect" coords="1030,257,1080,360" href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Load: <%=c_Values.v_psv.vout%> volt , <%=c_Values.v_neg.vout%> volt">

          
          <area shape="rect" coords="566,65,685,144"    href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Voltage Regulator: LM317">
          <area shape="rect" coords="565,440,685,525"   href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Voltage Regulator: LM337">

          <area shape="rect" coords="1060,130,1122,90"  href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Positive Output">

          <area shape="rect" coords="1065,465,1121,502" href="#" data-placement="top"  data-toggle="popover"  data-trigger="focus" title="Negative Output">
        </map>
    </div>

    <script>
      const openNav = () =>{
          document.getElementById('mySidenav').style.width="280px";
      }
      const closeNav = () =>{
          document.getElementById('mySidenav').style.width="0";
      }
   </script>
  </body>
</html>