<!DOCTYPE html>
<html>
  <title>Circuitation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    <!--main start -->
  <style type="text/css">
  *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Josefin Sans', sans-serif;
    }
    .tophead{
        width: 100%;
        height: 65px;
        background: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .brandlogo{
        color: #fff;
        font-size: 20px;
        margin-left:auto;
        display:flex;
      }
    .back{
      color: #fff;
      margin-right: 20px;
      font-size: medium;
    }
    .menulines{
        font-size: 30px;
        cursor: pointer;
        margin-left: 50px;
        color: #fff;
    }
    .mainpart{
        margin-top: 50px;
        margin-left: 50px;
    }
    .sidenav{
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background: lightgray;
        overflow-x: hidden;
        padding-top: 60px;
        transition: all 0.5s;
    }
    .sidenav a{
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        display: block;
        padding: 30px 0 30px 20px;
    }
    .sidenav a:hover{
        color: red;
    }
    .closebtn{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 40px!important;
        
    }
    input[type=text]{
        width: 100%;
        border: 1px solid #000;
        border-radius: 4px;
        margin: 8px 0;
        margin-left: 10px;
        width: 190px;
        outline: none;
        padding: 1px;
        box-sizing: border-box;
        color: #000;
        align-items: center;
        text-align: center;
    }
    label{
        color: #000;
        font-style:oblique ;
        font-weight: 650;
        padding-left: 10px;
    }
    .sidenav a{
        color: #000;
        align-items:center ;
        padding-left: 50px;
        font-weight: 700;
    }
  .imagebox{
     align-items: center;
     justify-content: center;
     margin-left: 400px;
    }
    .w3-container{
      height: 100%;
    }
    .titlebar{
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color:lightgrey;
      width: 100%;
      overflow-x:auto;
    }
    .navbar{
      width: 100%;
    }
    h1{
      font-weight: 700;
      letter-spacing: 8px;
    }
    @media (min-width: 1801px) and (max-width: 2100px){
      .imagebox{
          margin-left: 30%;
          overflow: auto;
        }
        h2{
          font-size: 35px;
          text-align: center;
        }
        h1{
          font-size: 50px;
        }
        h4{
          font-size: 35px;
        }

    }
    @media (min-width: 1500px) and (max-width: 1800px){
      .imagebox{
          margin-left: 25%;
          overflow: scroll;
        }
        h2{
          font-size: 30px;
        }
        h1{
          font-size: 45px;
        }
        h4{
          font-size: 33px;
        }

    }
    @media (min-width: 1200px) and (max-width: 1500px){
      .imagebox{
          margin-left: 25%;
          overflow: scroll;
        }
        h2{
          font-size: 20px;
        }
        h1{
          font-size: 35px;
        }
        h4{
          font-size: 25px;
        }

    }
    @media (min-width: 992px) and (max-width: 1199px){
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h2{
          font-size: 20px;
        }
        h1{
          font-size: 28px;
        }
        h4{
          font-size: 18px;
        }

    }
    @media (min-width: 768px) and (max-width: 991px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h2{
          font-size: 20px;
        }
        h1{
          font-size: 25px;
        }
        h2{
          font-size: 20px;
        }
        h4{
          font-size: 15px;
        }
    }
    @media (min-width: 575px) and (max-width: 767px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 25px;
        }
        h2{
          font-size: 18px;
        }
        h4{
          font-size: 14px;
        }
    }
    @media (min-width: 480px) and (max-width: 575px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 20px;
        }
        h2{
          font-size: 14px;
        }
        h4{
          font-size: 12px;
        }
        .nav-item a{
          text-align:center;
        }
      
    }
    @media (min-width: 340px) and (max-width: 480px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
        h1{
          font-size: 15px;
        }
        h2{
          font-size: 8px;
        }
        h4{
          font-size: 10px;
        }
    }
    @media (min-width: 239px) and (max-width: 339px) {
      .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
    }
    @media (min-width: 180px) and (max-width: 238px) {
        .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
    }
    @media (max-width: 179px) {
        .imagebox{
          margin-left: 0;
          overflow: scroll;
        }
    }
  </style>
 <body>

    <div class="titlebar" style="margin-bottom:0">
      <h1> CIRCUITATION </h1>
      <h4>A Circuit Schema Provider</h4> 
    </div>

    <header>
      <div class="tophead">
        <div>
          <span class="menulines" onclick="openNav()">&#9776</span>
      </div>
          <div class="brandlogo">
            <a class="back" href="/page">BACK</a>
            <a class="back" href="/logout">LOGOUT</a>
          </div>
          
      </div>
    </header>
    <!-- Sidebar -->
    <div class="sidenav" id="mySidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a>USER INPUT</a>
      <form>
          <label>Vin<br></label>
          <input type="text" value="<%=c_Values.v_in%> volt" placeholder="Vin" disabled>
          <label>Frequency</label>
          <input type="text" value="<%=c_Values.freq%> Hz"  placeholder="Frequency" disabled>
          <label >Vout From</label>
          <input type="text" value="<%=c_Values.vout%> volt" placeholder="VOut From" disabled>
          <label >Vout To</label>
          <input type="text" value="<%=c_Values.voutTo%> volt" placeholder="VOut To" disabled>  
        <br>
          <a>OUTPUT</a>
          <label>Capacitor (C1)</label>
          <input type="text" value="<%=c_Values.c%> &#181F"  placeholder="Capacitor" disabled>
          <label>Resistor</label>
          <input type="text" value="<%=c_Values.R2%> ohm" placeholder="Resistor" disabled>
          <label>Transformer</label>
          <input type="text" value="<%=c_Values.v_a%> VA" placeholder="Transformer" disabled>
          <label>Voltage Regulator</label>
          <input type="text" value="LM337" placeholder="Voltage Regulator" disabled>
      </form>
      
    </div>
  
    <!-- Page Content -->
    <div class="">

      <div class="w3-container">
        <h1></h1>
      </div>

      <div class="imagebox">
         <br><br>

        <img src="/circuita/VN337.png" alt="Workplace" usemap="#workmap" width="1124" height="591">
        <map name="workmap">
      
          <area shape="rect" coords="317,15,362,81" href="#"   data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 1: 1N4501">
          <area shape="rect" coords="419,15,463,81" href="#"   data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 2: 1N4501">
          <area shape="rect" coords="313,170,357,238" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 3: 1N4501">
          <area shape="rect" coords="418,170,461,238" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 4: 1N4501">
          <area shape="rect" coords="818,512,867,580" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 5: 1N4501">

          <area shape="rect" coords="893,169,949,240" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Resistor 1: <%=c_Values.R2%> ohm">
          <area shape="rect" coords="894,331,942,396" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Resistor 2: 120 ohm">

          <area shape="rect" coords="620,255,650,320" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 1: <%=c_Values.c%> micro-farad" >
          <area shape="rect" coords="682,255,716,320" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 2: 0.1 micro-farad">
          <area shape="rect" coords="828,192,861,257" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 3: 10 micro-farad">
          <area shape="rect" coords="971,255,999,319" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 4: 10 micro-farad">
          <area shape="rect" coords="748,255,779,319" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 5: 10 micro-farad">
          
          <area shape="rect" coords="94,202,169,302"  href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Transformer: <%=c_Values.v_a%> VA">

          <area shape="rect" coords="3,199,62,324"    href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Power Supply: <%=c_Values.v_in%> volt">

          <area shape="rect" coords="692,73,742,130"  href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Earthing">

          <area shape="rect" coords="1085,256,1120,319"href="#"data-placement="top"  data-toggle="popover" data-trigger="focus" title="Load: <%=c_Values.vout%> volt">

          <area shape="rect" coords="781,382,907,478" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Voltage Regulator: LM337">
        </map>
      </div>
    </div>
    <script>
      const openNav = () =>{
          document.getElementById('mySidenav').style.width="220px";
      }
      const closeNav = () =>{
          document.getElementById('mySidenav').style.width="0";
      }
   </script>
  </body>
</html>