<!DOCTYPE html>
<html>
  <title>Circuitation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    <!--main start -->
  <style type="text/css">
  .w3-sidebar h3
  {
    margin-left:150px;
    margin-top: 20px
  }
  </style>
 <body>
    <div class="jumbotron text-center" style="margin-bottom:0">
          <h1>C I R C U I T A T I O N </h1>
          <h4>A Circuit Designing And Simulation Website</h4> 
    </div>
    <div>
    <nav class="navbar navbar-expand-sm aa bg-primary navbar-dark ">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">BACK</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="#">LOGOUT</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Sidebar -->
   <div class="w3-container list-group-item list-group-item-" style="width:25%">
      <div class="list-group-item list-group-item-">
        <center><h2>USER'S INPUT</h2></center>
      </div>

     <form class="w3-container">
        <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput">Vin</label>
          <input type="text" id="Vin" class="form-control" value = "<%=c_Values.v_in%> volt" placeholder="Vin">
        </div>
        <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput">Frequency</label>
          <input type="text" id="Frequency" class="form-control" value = "<%=c_Values.freq%> Hz"  placeholder="Frequency">
        </div>
        <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput">Vout From</label>
          <input type="text" id="Vout From" class="form-control" value = "<%=c_Values.vout%> volt" placeholder="Vout From">
        </div>
        <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput">VOut To</label>
          <input type="text" id="VOut To" class="form-control" placeholder="VOut To">
        </div>
     </form><br>

      <div class="list-group-item list-group-item-">
        <center><h2>OUTPUT</h2></center>
      </div>

     <form class="">
        <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput">Capacitor (C1)</label>
          <input type="text" id="Capacitor" class="form-control" value = "<%=c_Values.c%>" placeholder="Capacitor">
        </div>
        <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput">Transformer</label>
          <input type="text" id="Transformer" class="form-control" value = "<%=c_Values.v_a%> VA"  placeholder="Transformer">
        </div>
        <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput">Resistor</label>
          <input type="text" id="Resistor" class="form-control" value = "<%=c_Values.R2%> ohm"  placeholder="Resistor">
        </div>
        <fieldset disabled>
        <div class="form-group">
          <label for="disabledTextInput">Voltage Regulator</label>
          <input type="text" id="Voltage Regulator" class="form-control" value = "<%=c_Values.img_label%>" placeholder="Voltage Regulator">
        </div>
      </form>
   </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

      <div class="w3-container">
        <h1></h1>
      </div>

      <div class="container border">
         <br><br>

        <img src="/circuita/VN337.png" alt="Workplace" usemap="#workmap" width="1124" height="591">
        <map name="workmap">
      
          <area shape="rect" coords="317,15,362,81" href="#"   data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 1: 1N4501">
          <area shape="rect" coords="419,15,463,81" href="#"   data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 2: 1N4501">
          <area shape="rect" coords="313,170,357,238" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 3: 1N4501">
          <area shape="rect" coords="418,170,461,238" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 4: 1N4501">
          <area shape="rect" coords="818,512,867,580" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Diode 5: 1N4501">

          <area shape="rect" coords="893,169,949,240" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Resistor 1:<%=c_Values.R2%> ohm">
          <area shape="rect" coords="894,331,942,396" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Resistor 2: 120 ohm">

          <area shape="rect" coords="620,255,650,320" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 1: <%=c_Values.c%> micro-farad" >
          <area shape="rect" coords="682,255,716,320" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 2: 0.1 micro-farad">
          <area shape="rect" coords="828,192,861,257" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 3: 10 micro-farad">
          <area shape="rect" coords="971,255,999,319" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 4: 10 micro-farad">
          <area shape="rect" coords="748,255,779,319" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Capacitor 5: 10 micro-farad">
          
          <area shape="rect" coords="94,202,169,302"  href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Transformer: <%=c_Values.v_a%> VA">

          <area shape="rect" coords="3,199,62,324"    href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Power Supply: <%=c_Values.v_in%> volt">

          <area shape="rect" coords="692,73,742,130"  href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Earthing">

          <area shape="rect" coords="1085,256,1120,319"href="#"data-placement="top"  data-toggle="popover" data-trigger="focus" title="Load:<%=c_Values.vout%> volt">

          <area shape="rect" coords="781,382,907,478" href="#" data-placement="top"  data-toggle="popover" data-trigger="focus" title="Voltage Regulator: <%=c_Values.img_label%>">
        </map>
      </div>
    </div>
  </body>
</html>